* {
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    color: #404142;
    font-size: 16px;
    letter-spacing: .8px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

p {
    margin: 0 0 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}
