// Media queries
$width-ipad-landscape-max: 1199px;
$width-ipad-landscape-min: 992px;
$width-ipad-max: 991px;
$width-ipad-min: 768px;
$width-mobile-max: 767px;
$width-iphone-5-max: 568px;
$width-iphone-4-max: 320px;

