<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="WDOTS is a web developer meetup based in Gerrards Cross, Buckinghamshire. Join us for all things development, design and web for discussion, talks and more">
  <title>Web Devs of the Shire</title>
  <!--[if lt IE 9]>
  <script src="<%= vendorPaths.html5Shiv %>"></script>
  <script src="<%= vendorPaths.respond %>"></script>
  <![endif]-->
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service-worker.js');
    }
  </script>
  <script src="<%= vendorPaths.jquery %>" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
          crossorigin="anonymous" defer></script>
  <script src="<%= vendorPaths.jqueryEasing %>" defer></script>
  <script src="<%= vendorPaths.jqueryVisible %>" defer></script>
  <script src="<%= vendorPaths.addToCalendarJs %>" defer></script>
  <script src="<%= assetPath %>/js/main.js" defer></script>

  <link href="<%= assetPath %>/img/favicon.ico" rel="shortcut icon">
  <link href="<%= cssPath %>/css/style.css" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".side-menu">
<nav class="side-menu">
  <ul>
    <li class="side-menu__item">
      <a href="#home" class="page-scroll">
        <span class="side-menu__item__title">Home</span>
        <span class="side-menu__item__dot"></span>
      </a>
    </li>
    <li class="side-menu__item">
      <a href="#next-meetup" class="page-scroll">
        <span class="side-menu__item__title">Next meetup</span>
        <span class="side-menu__item__dot"></span>
      </a>
    </li>
    <li class="side-menu__item">
      <a href="#about" class="page-scroll">
        <span class="side-menu__item__title">About</span>
        <span class="side-menu__item__dot"></span>
      </a>
    </li>
    <li class="side-menu__item">
      <a href="#speakers" class="page-scroll">
        <span class="side-menu__item__title">Members</span>
        <span class="side-menu__item__dot"></span>
      </a>
    </li>
    <li class="side-menu__item">
      <a href="#join-in" class="page-scroll">
        <span class="side-menu__item__title">Join In</span>
        <span class="side-menu__item__dot"></span>
      </a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <!-- Start: Header -->
  <div class="hero-header" id="home">
    <img src="<%= assetPath %>/img/woods.jpg"
         class="hero-header__background"
         role="presentation" alt=""
         sizes="100vw"
         srcset="
          <%= assetPath %>/img/woods-480.jpg 480w,
          <%= assetPath %>/img/woods-640.jpg 640w,
          <%= assetPath %>/img/woods-960.jpg 960w,
          <%= assetPath %>/img/woods-1280.jpg 1280w,
          <%= assetPath %>/img/woods.jpg
        ">
    <div class="hero-header__content">
      <img src="/img/wdots_circle_big.svg" class="hero-header__logo">
      <h1 class="hero-header__title">Web Devs of the Shire</h1>
      <h3 class="hero-header__description">Join our monthly meetup for a drink, discussion and development.</h3>
    </div>
  </div>
  <!-- End: Header -->
</div>
<div class="container">
  <!-- Start: Next Meetup -->
  <section class="section next-meetup" id="next-meetup">
    <div class="next-meetup__banner">
      <h2 class="next-meetup__banner__heading">Next Meetup</h2>
    </div>
    <div class="next-meetup__wrapper">
      <div class="next-meetup__info">
        <h3 class="next-meetup__info__heading">WDOTS Social</h3>
        <p>No agenda this month, meet for a beer or non-alcolohic beverage to catch up, talk code, show off a project or start a new one!</p>
      </div><div class="next-meetup__where-and-when">
        <h4>Thursday 26th January</h4>
        <h4>18:45 - 21:00</h4>
        <h4><img src="/img/location-pin.svg" class="icon">The Bull, Oxford Road, Gerrards Cross, Buckinghamshire, SL9 7PA</h4>
        <span class="addtocalendar atc-style-green socialButton">
          <var class="atc_event">
              <var class="atc_date_start">2017-01-26 18:45:00</var>
              <var class="atc_date_end">2017-01-26 21:00:00</var>
              <var class="atc_timezone">Europe/London</var>
              <var class="atc_title">Web Devs of The Shire</var>
              <var class="atc_description">Join us for all things Development, Design and Web for discussion, talks and more. If you have any questions please join our Slack chat</var>
              <var class="atc_location">The Bull, Oxford Road, Gerrards Cross, Buckinghamshire, SL9 7PA</var>
              <var class="atc_organizer">WDOTS</var>
          </var>
        </span>
      </div>
    </div>
    <div class="bannerLine" id="bottomBanner"></div>
  </section>
  <!-- End: About -->
  <!-- Start: About -->
  <section class="section about" id="about">
    <h2 class="section__title">About Us</h2>
    <h4>Far beyond the misty mountains, in a quiet corner of the South East, there is a land of silicon and
      startups... The Thames Valley is home to a huge and growing community of web developers and tech startups.</h4>

    <p>WDOTS is here to bring together innovative developers, heroic testers and pioneering founders on a quest to
      make the world a better place.</p>

    <p>We host monthly events ranging from lightning talks and presentations to hacks and project inceptions.</p>

    <p>So join us for an evening of discussion, code and the occasional moment of brilliance over a mead and a bit of
      pipe weed once every month in and around Gerrards Cross, Buckinghamshire.</p>
  </section>
  <!-- End: About -->
  <!-- Start: Desc -->
  <section class="section">
    <h2 class="section__title">Why Is This Meetup Super Cool?</h2>
    <div class="reason">
      <img src="/img/smile.svg" class="reason__img" role="img" aria-label="Smiley face icon">
      <h3>Great People</h3>
      <p>Our meetup spans across all branches of the Web with Developers, Designers and everything else 'techy'
        in-between.</p>
    </div><div class="reason">
      <img src="/img/chat.svg" class="reason__img" role="img" aria-label="Speech bubble icon">
      <h3>Range of Topics</h3>
      <p>With a vast range of sources to draw from, each month different discussions and our very own 'stand-up' takes
        place spanning languages, projects and learning.</p>
    </div><div class="reason">
      <img src="/img/compass.svg" class="reason__img" role="img" aria-label="Compass icon">
      <h3>Local to you</h3>
      <p>Meet the people attending this event from around Hertfordshire and Buckinghamshire. This will be a great
        opportunity to meet local people from your industry.</p>
    </div>
  </section>
  <!-- End: Desc -->

  <!-- Start: Speakers -->
  <section class="section" id="speakers">
    <h2 class="section__title">Meet some Members</h2>
    <div class="speaker">
      <img src="<%= assetPath %>/img/simon-130.jpg" class="speaker__img" alt="Photograph of Simon Adcock">
      <h3>Simon Adcock</h3>
      <p>Internet Wizard</p>
      <ul class="social">
        <li class="social__item">
          <a href="https://github.com/SiAdcock" target="_blank"><img
            role="img" aria-label="Simon Adcock on github" src="/img/github.svg" class="social__item__img"></a>
        </li>
        <li class="social__item">
          <a href="https://twitter.com/siadcock" target="_blank"><img
            role="img" aria-label="Simon Adcock on Twitter" src="/img/twitter.svg" class="social__item__img"></a>
        </li>
        <li class="social__item">
          <a href="https://www.linkedin.com/in/sjadcock" target="_blank"><img
            role="img" aria-label="Simon Adcock on LinkedIn" src="/img/linked_in.svg" class="social__item__img"></a>
        </li>
      </ul>
    </div>
    <div class="speaker">
      <img src="<%= assetPath %>/img/matt-130.jpg" class="speaker__img" alt="Photograph of Matt Platts">
      <h3>Matt Platts</h3>
      <p>Pearl Diver</p>
      <ul class="social">
        <li class="social__item">
          <a href="https://github.com/matt-platts" target="_blank"><img
            role="img" aria-label="Matt Platts on github" src="/img/github.svg" class="social__item__img"></a>
        </li>
        <li class="social__item">
          <a href="https://www.linkedin.com/in/mattplatts" target="_blank"><img
            role="img" aria-label="Matt Platts on LinkedIn" src="/img/linked_in.svg" class="social__item__img"></a>
        </li>
      </ul>
    </div>
    <div class="speaker">
      <img src="<%= assetPath %>/img/jimmy-130.jpg" class="speaker__img" alt="Photograph of Jimmy Names">
      <h3>Jimmy Names</h3>
      <p>Dev Padewan</p>
      <ul class="social">
        <li class="social__item">
          <a href="https://github.com/jimmynames" target="_blank"><img
            role="img" aria-label="Jimmy Names on github" src="/img/github.svg" class="social__item__img"></a>
        </li>
        <li class="social__item">
          <a href="https://twitter.com/namescodes" target="_blank"><img
            role="img" aria-label="Jimmy Names on Twitter" src="/img/twitter.svg" class="social__item__img"></a>
        </li>
        <li class="social__item">
          <a href="https://www.linkedin.com/in/jimmynames" target="_blank"><img
            role="img" aria-label="Jimmy Names on LinkedIn" src="/img/linked_in.svg" class="social__item__img"></a>
        </li>
      </ul>
    </div>
    <div class="speaker">
      <img src="<%= assetPath %>/img/james-130.jpg" class="speaker__img" alt="Photograph of James Monger">
      <h3>James Monger</h3>
      <p>JS Master</p>
      <ul class="social">
        <li class="social__item">
          <a href="https://github.com/Jameskmonger" target="_blank"><img
            role="img" aria-label="James Monger on github" src="/img/github.svg" class="social__item__img"></a>
        </li>
        <li class="social__item">
          <a href="https://twitter.com/jameskmonger" target="_blank"><img
            role="img" aria-label="James Monger on Twitter" src="/img/twitter.svg" class="social__item__img"></a>
        </li>
          <li class="social__item">
          <a href="https://www.linkedin.com/in/james-monger-20740b79" target="_blank"><img
            role="img" aria-label="James Monger on LinkedIn" src="/img/linked_in.svg" class="social__item__img"></a>
        </li>
      </ul>
    </div>
    <div class="speaker">
      <img src="<%= assetPath %>/img/steve-130.jpg" class="speaker__img" alt="Illustration of Steve Knight">
      <h3>Steve Knight</h3>
      <p>Sir JS</p>
      <ul class="social">
        <li class="social__item">
          <a href="#" target="_blank"><img
            role="img" aria-label="Steve Knight on github" src="/img/github.svg" class="social__item__img"></a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank"><img
            role="img" aria-label="Steve Knight on LinkedIn" src="/img/linked_in.svg" class="social__item__img"></a>
        </li>
      </ul>
    </div>
    <div class="speaker">
      <img src="<%= assetPath %>/img/luke-130.jpg" class="speaker__img" alt="Photograph of Luke Lehane">
      <h3>Luke Lehane</h3>
      <p>Pixel Perfectionist</p>
      <ul class="social">
        <li class="social__item">
          <a href="https://github.com/lehanism" target="_blank"><img
            role="img" aria-label="Luke Lehane on github" src="/img/github.svg" class="social__item__img"></a>
        </li>
        <li class="social__item">
          <a href="https://twitter.com/lehanism" target="_blank"><img
            role="img" aria-label="Luke Lehane on Twitter" src="/img/twitter.svg" class="social__item__img"></a>
        </li>
        <li class="social__item">
          <a href="https://www.linkedin.com/in/lukelehane" target="_blank"><img
            role="img" aria-label="Luke Lehane on LinkedIn" src="/img/linked_in.svg" class="social__item__img"></a>
        </li>
      </ul>
    </div>
    <div class="speaker">
      <img src="<%= assetPath %>/img/bart-130.jpg" class="speaker__img" alt="Photograph of Bart Nowak">
      <h3>Bart Nowak</h3>
      <p>Design Lord</p>
      <ul class="social">
        <li class="social__item">
          <a href="https://github.com/BartNowak" target="_blank"><img
            role="img" aria-label="Bart Nowak on github" src="/img/github.svg" class="social__item__img"></a>
        </li>
        <li class="social__item">
          <a href="https://www.linkedin.com/in/bart-nowak-205b3959" target="_blank"><img
            role="img" aria-label="Bart Nowak on LinkedIn" src="/img/linked_in.svg" class="social__item__img"></a>
        </li>
      </ul>
    </div>
    <div class="speaker">
      <img src="<%= assetPath %>/img/james-r-130.jpg" class="speaker__img" alt="Photograph of James Richford">
      <h3>James Richford</h3>
      <p>Shiny Grasshopper</p>
      <ul class="social">
        <li class="social__item">
          <a href="https://github.com/jamesrichford" target="_blank"><img
            role="img" aria-label="James Richford on github" src="/img/github.svg" class="social__item__img"></a>
        </li>
      </ul>
    </div>
    <div class="speaker">
      <img src="<%= assetPath %>/img/aimee-130.jpg" class="speaker__img" alt="Photograph of Aimee Tacchi">
      <h3>Aimee Tacchi</h3>
      <p>CSS Lover</p>
      <ul class="social">
        <li class="social__item">
          <a href="https://github.com/drkxangel84" target="_blank"><img
            role="img" aria-label="Aimee Tacchi on github" src="/img/github.svg" class="social__item__img"></a>
        </li>
         <li class="social__item">
          <a href="https://twitter.com/aimeetacchi" target="_blank"><img
            role="img" aria-label="Aimee Tacchi on Twitter" src="/img/twitter.svg" class="social__item__img"></a>
        </li>
         <li class="social__item">
          <a href="https://www.linkedin.com/in/aimeetacchi/" target="_blank"><img
            role="img" aria-label="Aimee Tacchi on LinkedIn" src="/img/linked_in.svg" class="social__item__img"></a>
        </li>
      </ul>
    </div>
  </section>
  <!-- End: Speakers -->
</div>

<!-- Start: Join In -->
<div class="container-fluid join-in" id="join-in">
  <section class="section">
    <h2 class="section__title join-in__title">Say Hello</h2>
    <div class="join-in__section">
      <h3 class="join-in__section__title">Slack</h3>
      <!-- ADD BUTTON -->
      <a href="https://wdots-slack.herokuapp.com" class="button button--lg button--success join-in__section__button">Join Slack Chat<span
        class="ti-arrow-right"></span></a>
      <p class="join-in__section__description">Get to know the group online or find out more about the Meetup via <a href="https://slack.com/">Slack</a></p>
    </div><div class="join-in__section">
      <h3 class="join-in__section__title">Meetup</h3>
      <span class="addtocalendar atc-style-green join-in__section__button">
          <var class="atc_event">
              <var class="atc_date_start">2017-01-26 18:45:00</var>
              <var class="atc_date_end">2017-01-26 21:00:00</var>
              <var class="atc_timezone">Europe/London</var>
              <var class="atc_title">Web Devs of The Shire</var>
              <var class="atc_description">Join us for all things Development, Design and Web for discussion, talks and more. If you have any questions please join our Slack chat</var>
              <var class="atc_location">The Bull, Oxford Road, Gerrards Cross, Buckinghamshire, SL9 7PA</var>
              <var class="atc_organizer">WDOTS</var>
          </var>
        </span>
      <p class="join-in__section__description">Add our next event to your calendar to make sure you get a friendly reminder and join in!</p>
    </div>
  </section>
</div>
<!-- End: Join In -->


<!-- Start: Footer -->
<div class="footer container-fluid">
  <div class="footer__logo">
    <img src="/img/wdots_rectangle_big.svg" class="footer__logo__img" alt="banner logo"/>
  </div><div class="footer__arrow">
    <img src="/img/up-arrow.svg" class="footer__arrow__img js-footer-arrow">
  </div>
</div>
<!-- End: Footer -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-89710540-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
