<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="WDOTS is a web developer meetup based in Gerrards Cross, Buckinghamshire. Join us for all things development, design and web for discussion, talks and more">
  <title>Web Devs of the Shire</title>

  <link href="<%= vendorPaths.bootstrap %>" rel="stylesheet"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="<%= vendorPaths.addToCalendarCss %>" rel="stylesheet" type="text/css">
  <link href="<%= assetPath %>/css/style.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="<%= vendorPaths.html5Shiv %>"></script>
  <script src="<%= vendorPaths.respond %>"></script>
  <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".side-menu">
<nav class="side-menu">
  <ul>
    <li class="hidden active">
      <a class="page-scroll" href="#page-top"></a>
    </li>
    <li>
      <a href="#home" class="page-scroll">
        <span class="menu-title">Home</span>
        <span class="dot"></span>
      </a>
    </li>
    <li>
      <a href="#next-meetup" class="page-scroll">
        <span class="menu-title">Next meetup</span>
        <span class="dot"></span>
      </a>
    </li>
    <li>
      <a href="#about" class="page-scroll">
        <span class="menu-title">About</span>
        <span class="dot"></span>
      </a>
    </li>
    <li>
      <a href="#speakers" class="page-scroll">
        <span class="menu-title">Members</span>
        <span class="dot"></span>
      </a>
    </li>
    <li>
      <a href="#tickets" class="page-scroll">
        <span class="menu-title">Join In</span>
        <span class="dot"></span>
      </a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <!-- Start: Header -->
  <div class="row hero-header" id="home">
    <img src="<%= assetPath %>/img/woods.jpg"
         class="hero-header__background"
         role="presentation" alt=""
         sizes="100vw"
         srcset="
          <%= assetPath %>/img/woods-480.jpg 480w,
          <%= assetPath %>/img/woods-640.jpg 640w,
          <%= assetPath %>/img/woods-960.jpg 960w,
          <%= assetPath %>/img/woods-1280.jpg 1280w,
          <%= assetPath %>/img/woods.jpg
        ">
    <div class="col-md-7">
      <img src="/img/wdots_circle_big.svg" class="logo">
      <h1>Web Devs of the Shire</h1>
      <h3>Join our monthly meetup for a drink, discussion and development.</h3>
    </div>
  </div>
  <!-- End: Header -->
</div>
<div class="container">
  <!-- Start: Next Meetup -->
  <section class="row section next-meetup" id="next-meetup">
    <div class="next-meetup__banner">
      <h2 class="next-meetup__banner__heading">Next Meetup</h2>
    </div>
    <div class="next-meetup__wrapper">
      <div class="next-meetup__info">
        <h3 class="next-meetup__info__heading">Side projects</h3>
        <p>This month, we'll be talking about side projects. If you have a project you're working on, bring it along and show us how you came up with the idea, how you made it and where you're going with it in the future. </p>
        <p>This is also a great opportunity to pick up tips from other devs, collaborate and maybe even inspire new ideas!</p>
      </div><div class="next-meetup__where-and-when">
        <h4>Thursday 22nd September</h4>
        <h4>18:45 - 21:00</h4>
        <h4><img src="/img/location-pin.svg" class="icon">ProProcure, Europa Court, Marsham Way, Gerrards Cross, Buckinghamshire, SL9 8BQ</h4>
        <span class="addtocalendar atc-style-blue socialButton">
          <var class="atc_event">
              <var class="atc_date_start">2016-09-22 18:45:00</var>
              <var class="atc_date_end">2016-09-22 21:00:00</var>
              <var class="atc_timezone">Europe/London</var>
              <var class="atc_title">Web Devs of The Shire</var>
              <var class="atc_description">Join us for all things Development, Design and Web for discussion, talks and more. If you have any questions please join our Slack chat</var>
              <var class="atc_location">ProProcure, Europa Court, Marsham Way, Gerrards Cross, Buckinghamshire, SL9 8BQ</var>
              <var class="atc_organizer">WDOTS</var>
          </var>
        </span>
      </div>
    </div>
    <div class="bannerLine" id="bottomBanner"></div>
  </section>
  <!-- End: About -->
  <!-- Start: About -->
  <section class="row section" id="about">
    <h2 class="section__title">About Us</h2>
    <div class="col-md-offset-2 col-lg-8 col-md-8 col-sm-10 ">
      <h4>Far beyond the misty mountains, in a quiet corner of the South East, there is a land of silicon and
        startups... The Thames Valley is home to a huge and growing community of web developers and tech startups.</h4>

      <p>WDOTS is here to bring together innovative developers, heroic testers and pioneering founders on a quest to
        make the world a better place.</p>

      <p>We host monthly events ranging from lightning talks and presentations to hacks and project inceptions.</p>

      <p>So join us for an evening of discussion, code and the occasional moment of brilliance over a mead and a bit of
        pipe weed once every month in and around Gerrards Cross, Buckinghamshire.</p>
    </div>
  </section>
  <!-- End: About -->
  <!-- Start: Desc -->
  <section class="row section">
    <h2 class="section__title">Why Is This Meetup Super Cool?</h2>
    <div class="col-md-4 feature reason">
      <img src="/img/smile.svg" class="reason-img" alt="Smiley face icon">
      <h3>Great People</h3>
      <p>Our meetup spans across all branches of the Web with Developers, Designers and everything else 'techy'
        in-between.</p>
    </div>
    <div class="col-md-4 feature reason">
      <img src="/img/chat.svg" class="reason-img" alt="Speech bubble icon">
      <h3>Range of Topics</h3>
      <p>With a vast range of sources to draw from, each month different discussions and our very own 'stand-up' takes
        place spanning languages, projects and learning.</p>
    </div>
    <div class="col-md-4 feature reason">
      <img src="/img/compass.svg" class="reason-img" class="Compass icon">
      <h3>Local to you</h3>
      <p>Meet the people attending this event from around Hertfordshire and Buckinghamshire. This will be a great
        opportunity to meet local people from your industry.</p>
    </div>
  </section>
  <!-- End: Desc -->

  <!-- Start: Speakers -->
  <section class="row section speaker" id="speakers">
    <h2 class="section__title">Meet some Members</h2>
    <div class="col-md-4 col-sm-6 feature">
      <img src="<%= assetPath %>/img/simon-130.jpg" class="speaker-img" alt="Photograph of Simon Adcock">
      <h3>Simon Adcock</h3>
      <p>Internet Wizard</p>
      <ul class="speaker-social">
        <li>
          <a href="https://github.com/SiAdcock" target="_blank"><img
            role="img" aria-label="Simon Adcock on github" src="/img/github.svg" class="speaker-social-img"></a>
        </li>
        <li>
          <a href="https://twitter.com/siadcock" target="_blank"><img
            role="img" aria-label="Simon Adcock on Twitter" src="/img/twitter.svg" class="speaker-social-img"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/sjadcock" target="_blank"><img
            role="img" aria-label="Simon Adcock on LinkedIn" src="/img/linked_in.svg" class="speaker-social-img"></a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img src="<%= assetPath %>/img/matt-130.jpg" class="speaker-img" alt="Photograph of Matt Platts">
      <h3>Matt Platts</h3>
      <p>Pearl Diver</p>
      <ul class="speaker-social">
        <li>
          <a href="https://github.com/matt-platts" target="_blank"><img
            role="img" aria-label="Matt Platts on github" src="/img/github.svg" class="speaker-social-img"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/mattplatts" target="_blank"><img
            role="img" aria-label="Matt Platts on LinkedIn" src="/img/linked_in.svg" class="speaker-social-img"></a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img src="<%= assetPath %>/img/jimmy-130.jpg" class="speaker-img" alt="Photograph of Jimmy Names">
      <h3>Jimmy Names</h3>
      <p>Dev Padewan</p>
      <ul class="speaker-social">
        <li>
          <a href="https://github.com/jimmynames" target="_blank"><img
            role="img" aria-label="Jimmy Names on github" src="/img/github.svg" class="speaker-social-img"></a>
        </li>
        <li>
          <a href="https://twitter.com/namescodes" target="_blank"><img
            role="img" aria-label="Jimmy Names on Twitter" src="/img/twitter.svg" class="speaker-social-img"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/jimmynames" target="_blank"><img
            role="img" aria-label="Jimmy Names on LinkedIn" src="/img/linked_in.svg" class="speaker-social-img"></a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img src="<%= assetPath %>/img/james-130.jpg" class="speaker-img" alt="Photograph of James Monger">
      <h3>James Monger</h3>
      <p>JS Master</p>
      <ul class="speaker-social">
        <li>
          <a href="https://github.com/Jameskmonger" target="_blank"><img
            role="img" aria-label="James Monger on github" src="/img/github.svg" class="speaker-social-img"></a>
        </li>
        <li>
          <a href="https://twitter.com/jameskmonger" target="_blank"><img
            role="img" aria-label="James Monger on Twitter" src="/img/twitter.svg" class="speaker-social-img"></a>
        </li>
          <li>
          <a href="https://www.linkedin.com/in/james-monger-20740b79" target="_blank"><img
            role="img" aria-label="James Monger on LinkedIn" src="/img/linked_in.svg" class="speaker-social-img"></a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img src="<%= assetPath %>/img/steve-130.jpg" class="speaker-img" alt="Illustration of Steve Knight">
      <h3>Steve Knight</h3>
      <p>Sir JS</p>
      <ul class="speaker-social">
        <li>
          <a href="#" target="_blank"><img
            role="img" aria-label="Steve Knight on github" src="/img/github.svg" class="speaker-social-img"></a>
        </li>
        <li>
          <a href="#" target="_blank"><img
            role="img" aria-label="Steve Knight on LinkedIn" src="/img/linked_in.svg" class="speaker-social-img"></a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img src="<%= assetPath %>/img/luke-130.jpg" class="speaker-img" alt="Photograph of Luke Lehane">
      <h3>Luke Lehane</h3>
      <p>Pixel Perfectionist</p>
      <ul class="speaker-social">
        <li>
          <a href="https://github.com/lehanism" target="_blank"><img
            role="img" aria-label="Luke Lehane on github" src="/img/github.svg" class="speaker-social-img"></a>
        </li>
        <li>
          <a href="https://twitter.com/lehanism" target="_blank"><img
            role="img" aria-label="Luke Lehane on Twitter" src="/img/twitter.svg" class="speaker-social-img"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/lukelehane" target="_blank"><img
            role="img" aria-label="Luke Lehane on LinkedIn" src="/img/linked_in.svg" class="speaker-social-img"></a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img src="<%= assetPath %>/img/bart-130.jpg" class="speaker-img" alt="Photograph of Bart Nowak">
      <h3>Bart Nowak</h3>
      <p>Design Lord</p>
      <ul class="speaker-social">
        <li>
          <a href="https://github.com/BartNowak" target="_blank"><img
            role="img" aria-label="Bart Nowak on github" src="/img/github.svg" class="speaker-social-img"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/bart-nowak-205b3959" target="_blank"><img
            role="img" aria-label="Bart Nowak on LinkedIn" src="/img/linked_in.svg" class="speaker-social-img"></a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-6 feature">
      <img src="<%= assetPath %>/img/james-r-130.jpg" class="speaker-img" alt="Photograph of James Richford">
      <h3>James Richford</h3>
      <p>Shiny Grasshopper</p>
      <ul class="speaker-social">
        <li>
          <a href="https://github.com/jamesrichford" target="_blank"><img
            role="img" aria-label="James Richford on github" src="/img/github.svg" class="speaker-social-img"></a>
        </li>
      </ul>
    </div>
  </section>
  <!-- End: Speakers -->
</div>

<!-- Start: Tickets -->
<div class="container-fluid tickets" id="tickets">
  <section class="row section">
    <h2 class="section__title hello-title">Say Hello</h2>
    <div class="col-md-4 col-sm-6 col-md-offset-2 hello-block">
      <h3>Slack</h3>
      <!-- ADD BUTTON -->
      <a href="https://wdots-slack.herokuapp.com" class="btn btn-lg btn-success socialButton">Join Slack Chat<span
        class="ti-arrow-right"></span></a>
      <p>Get to know the group online or find out more about the Meetup via <a href="https://slack.com/">Slack</a></p>
    </div>
    <div class="col-md-4 col-sm-6 hello-block">
      <h3>Meetup</h3>
      <span class="addtocalendar atc-style-blue socialButton">
          <var class="atc_event">
              <var class="atc_date_start">2016-09-22 18:45:00</var>
              <var class="atc_date_end">2016-09-22 21:00:00</var>
              <var class="atc_timezone">Europe/London</var>
              <var class="atc_title">Web Devs of The Shire</var>
              <var class="atc_description">Join us for all things Development, Design and Web for discussion, talks and more. If you have any questions please join our Slack chat</var>
              <var class="atc_location">ProProcure, Europa Court, Marsham Way, Gerrards Cross, Buckinghamshire, SL9 8BQ</var>
              <var class="atc_organizer">WDOTS</var>
          </var>
        </span>
      <p>Add our next event to your calender to make sure you get a friendly reminder and join in!</p>
    </div>
  </section>
</div>
<!-- End: Tickets -->


<!-- Start: Footer -->
<div class="container-fluid footer">

  <div class="row footer-credit">
    <div class="col-md-6 col-sm-6">
      <img src="/img/wdots_rectangle_big.svg" class="banner-logo" alt="banner logo"/>
    </div>
    <div class="col-md-6 col-sm-6 scrollToTop footer-arrow">
      <img src="/img/up-arrow.svg" class="footer-arrow-img">
    </div>
  </div>
</div>
<!-- End: Footer -->

<script src="<%= vendorPaths.jquery %>" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
        crossorigin="anonymous"></script>
<script src="<%= vendorPaths.jqueryEasing %>"></script>
<script src="<%= vendorPaths.jqueryVisible %>"></script>
<script src="<%= vendorPaths.addToCalendarJs %>"></script>
<script src="<%= assetPath %>/js/main.js"></script>
</body>
</html>
