.atc-style-green {
    .atcb-list {
        width: 100%;
        background: #ffffff;
        border: 1px solid #bababa;
        border-radius: 2px;
        box-shadow: 0 0 5px #aaaaaa;
    }

    .atcb-link {
        border-radius: 4px;
        padding: 15px 40px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1.3333333;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        border: 1px solid transparent;

        @include button-context($button-success-background, $button-success-text, $button-success-border);
    }

    .atcb-item {
        &:hover {
            background: #5cb85c;
        }
    }

    .atcb-item-link {
        font-size: .875em;
        color: #000000;
        text-decoration: none;
        outline: none;
        padding: 5px 15px;
        transition: none;

        &:hover {
            color: #ffffff;
        }
    }
}
