$add-to-calendar-list-background: #fff;
$add-to-calendar-list-border: #bababa;
$add-to-calendar-list-shadow: #aaa;
$add-to-calendar-item-hover-background: #5cb85c;
$add-to-calendar-item-color: #000;
$add-to-calendar-item-hover-color: #fff;

.atc-style-green {
    .atcb-list {
        background: $add-to-calendar-list-background;
        border: 1px solid $add-to-calendar-list-border;
        border-radius: 2px;
        box-shadow: 0 0 5px $add-to-calendar-list-shadow;
        width: 100%;
    }

    .atcb-link {
        @include button-context($button-success-background, $button-success-text, $button-success-border);

        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 600;
        line-height: 1.3333333;
        padding: 15px 40px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
    }

    .atcb-item {
        &:hover {
            background: $add-to-calendar-item-hover-background;
        }
    }

    .atcb-item-link {
        color: $add-to-calendar-item-color;
        font-size: .875em;
        outline: none;
        padding: 5px 15px;
        text-decoration: none;
        transition: none;

        &:hover {
            color: $add-to-calendar-item-hover-color;
        }
    }
}
