.side-menu {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-73px);
    z-index: 99;
}

.side-menu__item {
    margin: 10px 0;
    text-align: right;
}

.side-menu__item__title, .side-menu__item__dot {
    display: inline-block;
}

.side-menu__item__title {
    background-color: #659d32;
    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
    opacity: 0;
    padding: 3px 10px;
    text-transform: uppercase;
    transition: transform .2s, opacity .2s;

    a:hover & {
        opacity: 1;
    }
}

.side-menu__item__dot {
    background-color: #659d32;
    border-radius: 2em;
    height: 10px;
    transition: all .3s;
    width: 10px;

    a:hover & {
        transform: scale(1.8);
    }
}
