.side-menu {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-73px);
    z-index: 99;

    ul li {
        text-align: right;
        margin: 10px 0;
    }
    ul li a span {
        display: inline-block;
    }
    ul li a span.menu-title {
        color: #fff;
        position: relative;
        margin-right: 10px;
        text-transform: uppercase;
        font-size: 12px;
        background-color: #659D32;
        padding: 3px 10px;
        font-weight: 600;
        border-radius: 3px;
        -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
        -moz-transition: -moz-transform 0.2s, opacity 0.2s;
        transition: transform 0.2s, opacity 0.2s;
        -webkit-transform-origin: 100% 50%;
        -moz-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
        -o-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        opacity: 0;
    }
    ul li a:hover span.menu-title {
        opacity: 1;
    }
    ul li a span.dot {
        position: relative;
        background-color: #659D32;
        border-radius: 2em;
        height: 10px;
        width: 10px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    ul li a:hover span.dot {
        transform: scale(1.8);
    }
}
