.social__item {
    display: inline-block;
    list-style: none;
    margin: 10px 5px;

    a {
        display: block;
        padding: 0 10px;
        text-align: center;
    }
}

.social__item__img {
    fill: #000000;
    height: 16px;
    width: 16px;
}
