@import 'base/base';
@import 'components/add-to-calendar';
@import 'components/button';
@import 'components/icon';
@import 'components/reason';
@import 'components/side-menu';
@import 'modules/hero-header';
@import 'modules/next-meetup';
@import 'modules/speakers';
@import 'modules/tickets';
@import 'modules/footer';

.content-ct {
    text-align: center;
}

.me-row {
	padding: 30px 0;
}

.row-title {
	font-weight: 400;
}

.feature {
	padding: 20px;
	margin-top: 30px;
}

.feature span {
	font-size: 5em;
    color: #016cc7;
}

/* ========================================
    Custom Media Queries
======================================== */

/* Mobile */

@media (max-width: 767px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
    }
    .speaker .feature {
        width: 100%
    }
    .footer-credit {
        text-align: center;
        padding: 40px 20px;
    }
    ul.footer-menu {
        text-align: center;
        margin-top: 30px;
    }
    .footer-credit .footer-arrow {
        text-align: center;
        margin-top: 20px;
    }
}


/* iPad Portrait */

@media (min-width: 768px) and (max-width: 991px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
    }
    .speaker .feature {
        width: 49%;
        margin-right: 7px;
    }
    ul.footer-menu {
        margin-top: 0;
    }
}


/* iPad Landscape */

@media (min-width: 992px) and (max-width: 1199px) {
    .speaker .feature {
        width: 49%;
        margin-right: 9px;
    }
}

/* iPhone 5 and below */

@media (max-width: 568px) {
    .hero-header h1 {
        font-size: 2em;
    }
    .hero-header h3 {
        font-size: 19px;
    }
}

/* iPhone 4 */
@media (max-width: 320px) {
    .hero-header .logo {
        height: 110px;
    }
    .hero-header h1 {
        font-size: 2em;
    }
    .hero-header h3 {
        font-size: 19px;
    }
}
