.about {
    margin: 0 auto;
    padding: 30px 15px;
}

@media (min-width: 1200px) {
    .about {
        width: 66.66666667%;
    }
}

@media (min-width: 768px) {
    .about {
        width: 83.33333333%;
    }
}
