$footer-background: #2a2a2a;
$footer-border: #545454;
$footer-text: #939393;

.footer {
    align-items: center;
    background-color: $footer-background;
    border-top: 1px $footer-border solid;
    color: $footer-text;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer__logo,
.footer__arrow {
    display: inline-block;
    width: 100%;
}

.footer__arrow {
    height: 3em;
    text-align: right;
}

.footer__logo__img {
    width: 100%;
}

@media (min-width: $width-ipad-min) {
    .footer {
        flex-direction: row;
    }
}

@media (min-width: $width-desktop-min) {
    .footer__logo__img {
        width: 40%;
    }
}

.footer__arrow__img {
    cursor: pointer;
    height: 32px;
    opacity: 0;
    transition: .6s opacity;
    transition-delay: .6s;
    width: 48px;
}

.footer__arrow__img--visible {
    opacity: .7;
}
