.footer {
    border-top: 1px #545454 solid;
    background-color: #2a2a2a;
    color: #939393;
    padding: 20px 20px 0 20px;
}

.footer__logo, .footer__arrow {
    display: inline-block;
    width: 100%;
}

@media (min-width: $width-ipad-min) {
    .footer__logo, .footer__arrow {
        display: inline-block;
        width: 50%;
    }
}

.footer__arrow {
    height: 3em;
    text-align: right;
}

.footer__logo__img {
    width: 40%;
    height: auto;
}

.footer__arrow__img {
    height: 32px;
    width: 48px;
    opacity: 0;
    cursor: pointer;
    transition: .6s opacity;
    transition-delay: .6s;
}

.footer__arrow__img--visible {
    opacity: .7;
}
