.hero-header {
    position: relative;
    overflow: hidden;
    min-height: 600px;
    padding: 5em;
    color: #fff;

    h1 {
        margin: 1em 0 0 0;
        font-weight: 300;
        font-size: 4em;
    }

    h3 {
        font-weight: normal;
        opacity: 0.9;
        letter-spacing: 1px;
        margin: 2em 0;
        text-shadow: 1px 1px #000000;
    }

    .logo {
        max-width: 180px;
        height: 180px;
    }

    .btn {
        margin-top: 3em;
    }

    .rocket {
        max-width: 95%;
    }
}

.hero-header__background {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
    min-height: 100%;
}
