.join-in {
    background-color: #c0d9af;
    padding-top: 50px;
    padding-bottom: 75px;
}

.join-in__title {
    margin-bottom: 1em;
}

.join-in__section {
    padding: 2em;
}

.join-in__section__title,
.join-in__section__button,
.join-in__section__description {
    margin-bottom: 1.333em;
}
