$join-in-background: #c0d9af;

.join-in {
    background-color: $join-in-background;
    padding-bottom: 75px;
    padding-top: 50px;
}

.join-in__title {
    margin-bottom: 1em;
}

.join-in__section {
    display: inline-block;
    margin: 0 auto;
    padding: 2em;
    vertical-align: top;
    width: 100%;
}

@media (min-width: 768px) {
    .join-in__section {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .join-in__section {
        width: 33.33333333%;
    }
}

.join-in__section__title,
.join-in__section__button,
.join-in__section__description {
    margin-bottom: 1.333em;
}
