$next-meetup-banner-background: #c5e3bf;
$next-meetup-heading-background: #fff;
$next-meetup-info-border: #008000;

.next-meetup__wrapper {
    padding: .5em;
}

.next-meetup__banner {
    height: 0;

    &::before {
        background-color: $next-meetup-banner-background;
        content: '';
        display: block;
        height: 20px;
    }
}

.next-meetup__banner__heading {
    background-color: $next-meetup-heading-background;
    border: 3px dotted $next-meetup-info-border;
    display: inline-block;
    margin: 0;
    padding: 4px 48px;
    position: relative;
    top: -33px;
}

.next-meetup__info,
.next-meetup__where-and-when {
    display: inline-block;
}

.next-meetup__info {
    margin-top: 20px;
    text-align: left;

    p {
        margin: 1em 0;
    }
}

.next-meetup__info__heading {
    border-bottom: solid 3px $next-meetup-info-border;
    display: inline-block;
    line-height: 50px;
    text-align: left;
}

@media (min-width: $width-ipad-landscape-min) {
    .next-meetup__banner {
        text-align: right;
    }

    .next-meetup__banner__heading {
        margin-right: 20px;
    }

    .next-meetup__info,
    .next-meetup__where-and-when {
        width: 50%;
    }

    .next-meetup__info {
        p {
            margin: 1em;
        }
    }

    .next-meetup__where-and-when {
        padding: 33.33px 100px;
    }
}
