.next-meetup__wrapper {
    padding: 0.5em;
}

.next-meetup__banner {
    height: 0;

    &::before {
        content: '';
        display: block;
        background-color: #c5e3bf;
        height: 20px;
    }
}

.next-meetup__banner__heading {
    display: inline-block;
    position: relative;
    top: -33px;
    background-color: #ffffff;
    border: 3px dotted green;
    margin: 0;
    padding: 4px 48px;
}

.next-meetup__info, .next-meetup__where-and-when {
    display: inline-block;
}

.next-meetup__info {
    text-align: left;
    margin-top: 20px;

    p {
        margin: 1em 0;
    }
}

.next-meetup__info__heading {
    display: inline-block;
    text-align: left;
    border-bottom: solid 3px green;
    line-height: 50px;
}

@media (min-width: $width-ipad-landscape-min) {
    .next-meetup__banner {
        text-align: right;
    }

    .next-meetup__banner__heading {
        margin-right: 20px;
    }

    .next-meetup__info, .next-meetup__where-and-when {
        width: 50%;
    }

    .next-meetup__info {
        p {
            margin: 1em;
        }
    }

    .next-meetup__where-and-when {
        padding: 33.33px 100px;
    }
}
