$speaker-box-border: #f6f6f6;
$speaker-box-shadow: #ccc;
$speaker-img-border: #efefef;

.speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.speaker {
    border: 1px solid $speaker-box-border;
    border-radius: 5px;
    margin-top: 30px;
    padding: 20px;
    transition: all .3s;
    width: 100%;

    &:hover {
        box-shadow: 3px 3px 10px $speaker-box-shadow;
        transform: translateY(-10px);
    }
}

// iPad Portrait
@media (min-width: $width-ipad-min) and (max-width: $width-ipad-max) {
    .speaker {
        width: 49%;
    }
}

// iPad landscape
@media (min-width: $width-ipad-landscape-min) and (max-width: $width-ipad-landscape-max) {
    .speaker {
        width: 49%;
    }
}

@media (min-width: $width-desktop-min) {
    .speaker {
        width: 31.33333333%;
    }
}

.speaker__img {
    border: 4px solid $speaker-img-border;
    border-radius: 50%;
    max-width: 40%;
}
